.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1{
    letter-spacing: 3px;
}

#main{
    background: #3F3F3F;
    background-image: url("/images/pokedexbg.png");
    background-size:contain;
background-position:center;
}

.hide{
    overflow: hidden;
}

.poke-container {
    display:flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}


.pokemon{
    background:linear-gradient(to bottom, rgb(43, 42, 42), rgb(27, 27, 27));
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 2px solid;
    box-shadow: 0 0 10px 0 #000 inset;
}

.pokemon:hover{
    margin-top: 0;
    margin-bottom: auto;
}


.pokemon .img-container{
    background-color: none;
    width: 120px;
    height: 120px;
    text-align: center;
    font-family: 'Monda', Sans-Serif;
}

.pokemon .img-container img {
    max-width: 90%;
    margin-top: 20px;
}


.pokemon .info .number{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
    font-family: 'Monda', Sans-Serif;
}

.pokemon .info .name{
    color: whitesmoke   ;
margin: 15px 10px 10px 7px;
}

.type{
    padding: 5px;
    border-radius: 5px ;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 14px;
}



#card button{
    height: fit-content;
    background: rgba( 0, 0, 0, 0.15 );
    border: none;
    padding-bottom: 10px;
    
}

.status #caught{
    margin-top: 10px;
    padding:5px 40px 5px 40px;
    font-family: cursive;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.status #caught:hover{
    color: var(--custom_color);
    background:  rgba( 0, 0, 0, 0.15 );
    box-shadow: 0 0 10px 0 var(--custom_color) inset, 0 0 20px 2px var(--custom_color);
    border: 3px solid var(--custom_color);
}


#load-more{
    padding: 20px;
}

#load-more button{
    margin-top: 10px;
    padding:10px 40px 10px 40px;
    font-family: cursive;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    border: 3px solid gray;
    color: whitesmoke;
}

#load-more button:hover {
    color: whitesmoke;
    background:  rgba( 0, 0, 0, 0.15 );
    box-shadow: 0 0 10px 0 whitesmoke inset, 0 0 20px 2px whitesmoke;
    border: 3px solid whitesmoke;
}


.fa-solid .fa-xmark .fa-4x .mobile{
    display: none;
}

.fa-brands .fa-microsoft .fa-3x .mobile{
    display: none;
}

/* Pop Up */
.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}


.square{
    display: none;
    height: 500px;
  width: 900px;
  background-color: #555;
  position: absolute;
  left: 150px;
  top: 130px;
  overflow: scroll;
}
.show{
    display: flex;
}
.fires{
    display: flex;
    height: 100%;
    background: linear-gradient(90deg, rgba(47,57,48,1) 0%, rgba(93,254,104,1) 71%, rgba(131,251,139,1) 98%);
}
.container{
    display: grid;
    width: 100%;
 
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 40rem 15%;
    grid-template-areas: ". nav close"
                         "left stats right";
}

.poke-menu{
    padding: 0px 0px 0px 0px;
    background: none;
    border: none;
    position: relative;
    bottom: 20px;
    
}
.poke-menu:hover{
    cursor: pointer;
}

.poke-menu button{
    margin-bottom: 100px;
    
}

#close{
    grid-area: close;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
}

#close:hover{
    color: whitesmoke;
}

.logo2{
   grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo2 img{
    height: 80px;

}

.nav-container{
    align-content: center;
}

.tablet{
    display: none;
}
 
/*mobile close and mini menu display*/
.fa-brands.fa-microsoft.fa-3x.mobile{
    display:none;
}

.fa-solid.fa-xmark.fa-4x.mobile{
    display: none;
}

.mobile{
    display: none;
}

.rightarrow{
    grid-area: right;
    margin: auto;
}

.leftarrow{
    grid-area: left;
    margin: auto;
}

.btnarrows{
    background: none;
    border: none;
}

.btnarrows:hover{
    color: whitesmoke;
}

.pokemon-full{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "info picture"
                         "types statsgrid";
    grid-area: stats;
}



.poke-info{
    grid-area: info;
}

.rightside h4{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 60px;
    color: white;
    font-weight: 600;
    font-family: 'Monda', Sans-Serif;
    
}
.num-id{
    font-size: 250px;
    font-family: 'Julius Sans One', Sans-Serif;
    font-weight:900 ;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.pokemon-img {
    margin: auto;
    height: 300px;
    grid-area: picture;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.pokeimg-hide{
    display: none;
}


.poke-name{
    font-size: 80px;
    font-family: 'Monda', Sans-Serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    margin: 0;
}

.full-type{
    font-size: 25px;
    font-family: 'Julius Sans One', Sans-Serif;
    color: white;
    margin: 0 0 10px 0;
}

.primary-icon{
    width: 80px;
    height: 80px;
}

.attributes{
    color: white;
    font-family: 'Julius Sans One', Sans-Serif;
    row-gap: 20px;
    line-height: 25px;
    font-weight: 700;
    backdrop-filter: blur(14px);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    width:530px;

}

.attributes tr td{
    padding-right: 80px;
}

.rightside{
    grid-area: statsgrid;
    width: 520px;
    
}
.types{
    grid-area: types;
    
}

.types h5{
    margin-left: 25px;
    margin-top: 20rem;
    margin-bottom: 25px;
    font-size: 45px;
    font-family: 'Monda', Sans-Serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
}

.types img{
    
    margin-left: 0px;
}

.attribute-chart{
    backdrop-filter:blur(14px);
    display:grid ;
    grid-template-columns: 15% 70% 15% ;
    row-gap: 15px;
    backdrop-filter: blur(14px);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    grid-template-areas:"hp hpbar hpnum"
                        "att attbar attnum"
                        "def defbar defnum"
                        "spd spdbar spdnum" ;
}

.stat-title.hp{
    grid-area: hp ;
    
}

.hpbar{
    position: relative;
    top: 27px;
    left: 45px;
    grid-area: hpbar;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 35px 35px 68px 0px rgba(8, 8, 8, 0.5), inset -12px -12px 16px 0px rgba(8, 8, 8, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.stats-number.hp{
    grid-area: hpnum;
} 



.stat-title.att{
    grid-area: att ;
}

.attbar{
    position: relative;
    top: 27px;
    left: 45px;
    grid-area: attbar;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 35px 35px 68px 0px rgba(8, 8, 8, 0.5), inset -12px -12px 16px 0px rgba(8, 8, 8, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.stats-number.att{
    grid-area: attnum;
} 



.stat-title.def{
    grid-area: def ;
}

.defbar{
    position: relative;
    top: 27px;
    left: 45px;
    grid-area: defbar;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 35px 35px 68px 0px rgba(8, 8, 8, 0.5), inset -12px -12px 16px 0px rgba(8, 8, 8, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.stats-number.def{
    grid-area: defnum;
}


.stat-title.spd{
    grid-area: spd ;
}

.spdbar{
    position: relative;
    top: 27px;
    left: 45px;
    grid-area: spdbar;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 35px 35px 68px 0px rgba(8, 8, 8, 0.5), inset -12px -12px 16px 0px rgba(8, 8, 8, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.stats-number.spd{
    grid-area: spdnum;
}



.stat-title{
    font-family: 'Monda', Sans-Serif;
    color: white;
    font-size: 25px;
    margin: 15px;
}
.stats-number{
    font-family:'Monda', Sans-Serif;
    color: white;
    font-size: 25px;
    margin: 15px;
}

/* TABLET MEADIA QUERIES */

@media only screen and (min-width:607px) and (max-width: 1024px) {
    .square{
        width: 600px;
        left: 80px;
        overflow: scroll;
    }
    .desktop{
        display: none;
    }
    .tablet{
        display: block;
    }
    
    .num-id{
    font-size: 150px;
    }

    .poke-name{
        font-size: 60px;
    }

    .full-type{
        font-size: 20px;
    }

    .attributes{
        width:300px;
    }

    .attributes tr td{
        padding: 0px 80px 5px 0px;
    }
    .attributes table{
        padding-top: .5rem;
    }

    .pokemon:hover{
        margin-top: 0;
        margin-bottom: auto;
    }

    .pokemon-img {
        height: 300px;
    }

    .types{
        margin-left: 60px;
    }

    .types h5{
        margin-top: 140px;

    }

    .rightside h4{
        font-size: 40px;
        margin: 130px 0px 10px 0px;
    }

    .attribute-chart{
        width: 350px;
    }

    .stat-title{
        font-size: 18px;
    }

    .stats-number{
        font-size: 20px;
    }
}

/*mobile screen*/

@media only screen and  (max-width: 606px) {
    .square{
        width: 400px;
        left: 20px;
        overflow: scroll;
    }



    .mobile{
        display: block;
    }


    .logo2 img{
        height: 50px;
    }

    .fa-xmark.fa-6x.desktop{
        display: none;
    }

    .fa-solid.fa-xmark.fa-4x.mobile{
        display: block;
    }

    .fa-microsoft.fa-4x.desktop{
        display: none;
    }

    .fa-brands.fa-microsoft.fa-3x.mobile{
        display: block;
    }
    
    .logo2{
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pokemon{
        transition: none;
    }

    .pokemon:hover{
        margin-top: auto;
        margin-bottom: auto;
    }

    .pokemon-full{
        grid-template-areas: "info picture"
        "types types"
        "statsgrid statsgrid";
       grid-template-rows: 1fr 1fr 1fr; 
    }

   

    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
    
    .num-id{
    font-size: 80px;
    }

    .poke-name{
        font-size: 35px;
    }

    .full-type{
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .attributes{
        width: 350px;
    }

    .attributes tr td{
        padding: 0px 40px 5px 0px;
    }

    .pokemon-img {
        position: relative;
        top: -55px;
        left: 10px;
        height: 150px;
    }
    .types{
        margin-left: 25px;
       grid-area: types;
    }

    .types h5{
        font-size: 25px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .typesymbol img{
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        display: flex;      
    }

    .rightside{
        width: auto;
    }

    .rightside h4{
        font-size: 30px;
        margin: 30px 0px 10px 0px;
        display: block;
        text-align: center;
    }

    .attribute-chart{
        width: 350px;
    }

    .stat-title{
        font-size: 18px;
    }

    .stats-number{
        font-size: 20px;
    }
}