.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1{
    letter-spacing: 3px;
}

.main{
    background :linear-gradient(360deg, #333 0%, #000 100%);;
}

.poke-container {
    display:flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon{
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.pokemon .img-container{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemon .img-container img {
    max-width: 90%;
    margin-top: 20px;
}

.pokemon .info .number{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
}

.pokemon .info .name{
margin: 15px 0 7px;
}

.card-btn{
    background-color: transparent;
    border: none;
}

.card-btn :hover{

cursor: pointer;
}

/* Page two */

.square{
    display: none;
    height: 500px;
  width: 900px;
  background-color: #555;
  position: absolute;
  left: 150px;
  top: 130px;
}
.show{
    display: block;
}
.fires{
    display: flex;
    height: 100%;
    background: linear-gradient(90deg, rgba(47,57,48,1) 0%, rgba(93,254,104,1) 71%, rgba(131,251,139,1) 98%);
}
.container{
    display: grid;
    width: 100%;
 
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 40rem 15%;
    grid-template-areas: ". nav ."
                         "left stats right";
}

.poke-menu{
    padding: 0px 0px 0px 0px;
    background: none;
    border: none;
    position: relative;
    bottom: 20px;
}
.poke-menu:hover{
    cursor: pointer;
}

.poke-menu button{
    margin-bottom: 100px;
    
}

.logo2{
   grid-area: nav;
  margin-left: 300px;
}
.logo2 img{
    height: 80px;

}

.nav-container{
    align-content: center;
}

.tablet{
    display: none;
}

.rightarrow{
    grid-area: right;
    margin: auto;
}

.leftarrow{
    grid-area: left;
    margin: auto;
}

.btnarrows{
    background: none;
    border: none;
}

.btnarrows:hover{
    color: whitesmoke;
}

.pokemon-full{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "info picture"
                         ". statsgrid";
    grid-area: stats;
}



.poke-info{
    grid-area: info;
}

.rightside h4{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 60px;
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.num-id{
    font-size: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.pokemon-img {
    margin: auto;
    height: 500px;
    grid-area: picture;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}

.poke-name{
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: white;
    margin: 0;
}

.full-type{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 0 0 10px 0;
}

.attributes{
    margin: auto;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.attributes tr td{
    padding: 0px 150px 5px 0px;
}
.rightside{
    grid-area: statsgrid;
    
}
.types{
    margin-left: 100px;
}

.types h5{
    margin-top: 230px;
    margin-bottom: 25px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.typesymbol{
    height: 100px;
}

.attribute-chart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 400px;
}
.stat-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    margin: 15px;
}
.stats-number{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    margin: 15px;
}

/* TABLET MEADIA QUERIES */

@media only screen and (min-width:607px) and (max-width: 1024px) {
    .logo2{
        margin-left:200px;
    }

    .desktop{
        display: none;
    }
    .tablet{
        display: block;
    }
    
    .num-id{
    font-size: 150px;
    }

    .poke-name{
        font-size: 60px;
    }

    .full-type{
        font-size: 20px;
    }

    .attributes tr td{
        padding: 0px 90px 5px 0px;
    }

    .pokemon-img {
        height: 400px;
    }

    .types{
        margin-left: 60px;
    }

    .types h5{
        margin-top: 100px;

    }

    .rightside h4{
        font-size: 40px;
        margin: 70px 0px 10px 0px;
    }

    .attribute-chart{
        column-gap: 150px;
    }

    .stat-title{
        font-size: 18px;
    }

    .stats-number{
        font-size: 20px;
    }
}

@media only screen and  (max-width: 606px) {
    .logo2{
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pokemon-full{
        grid-template-areas: "info picture"
        "types types"
        "statsgrid statsgrid";
       grid-template-rows: 1fr 1fr 1fr; 
    }

   

    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
    
    .num-id{
    font-size: 80px;
    }

    .poke-name{
        font-size: 35px;
    }

    .full-type{
        font-size: 18px;
    }

    .attributes tr td{
        padding: 0px 40px 5px 0px;
    }

    .pokemon-img {
        height: 250px;
    }
    .types{
        margin-left: 25px;
       grid-area: types;
    }

    .types h5{
        font-size: 25px;
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .typesymbol{
        height: 80px;
        
    }



    .rightside h4{
        font-size: 30px;
        margin: 70px 0px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .attribute-chart{
        column-gap: 150px;
    }

    .stat-title{
        font-size: 18px;
    }

    .stats-number{
        font-size: 20px;
    }
}