.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1{
    letter-spacing: 3px;
}

.main{
    background :linear-gradient(360deg, #333 0%, #000 100%);;
}

.poke-container {
    display:flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon{
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.pokemon .img-container{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemon .img-container img {
    max-width: 90%;
    margin-top: 20px;
}

.pokemon .info .number{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
}

.pokemon .info .name{
margin: 15px 0 7px;
}

.card-btn{
    background-color: transparent;
    border: none;
}

.card-btn :hover{

cursor: pointer;
}

/* Page two */
.fires{
    display: flex;
    height: 100%;
    background: linear-gradient(90deg, rgba(47,57,48,1) 0%, rgba(93,254,104,1) 71%, rgba(131,251,139,1) 98%);
}
.container{
    display: grid;
    width: 100%;
 
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 40rem 15%;
    grid-template-areas: ". nav ."
                         "left stats right";
}

.logo2{
   grid-area: nav;
}
.logo2 img{
    height: 100px;
}

.rightarrow{
    grid-area: right;
    margin: auto;
}

.leftarrow{
    grid-area: left;
    margin: auto;
}

.btnarrows{
    background: none;
    border: none;
}

.btnarrows:hover{
    color: whitesmoke;
}

.pokemon-full{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "info picture"
                         ". statsgrid";
    grid-area: stats;
}



.poke-info{
    grid-area: info;
}

.rightside h4{
    margin-top: 0;
    font-size: 60px;
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.num-id{
    font-size: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.pokemon-img {
    margin: auto;
    height: 500px;
    grid-area: picture;
}

.poke-name{
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: white;
    margin: 0;
}

.full-type{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 0 0 10px 0;
}

.attributes{
    margin: auto;
    color: white;
}
.attributes tr td{
    padding: 0px 150px 5px 0px;
}
.rightside{
    grid-area: statsgrid;
    
}
.types{
    margin-left: 100px;
}

.types h5{
    margin-top: 200px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.typesymbol{
    height: 100px;
}